* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    border-radius: 15px;
}

body {
    background-image: url(Images/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
    overflow-y: auto;
}

/* Estilos do header */
header {
    background-color: #3c067a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    align-items: center;
}

.perfil, .settings-icon {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.perfil i, .settings-icon i {
    font-size: 24px;
    margin-right: 8px;
}

.center-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: white;
}

/* Estilos da criação de playlist */
.create-playlist {
    padding: 20px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

.create-playlist h1 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input, .input-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

.input-group textarea {
    height: 100px;
}

button {
    background-color: #655be1;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5146e1;
}

.add-music {
    margin-top: 40px;
}

.music-inputs {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.music-inputs input {
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

#playlist-music-list {
    list-style: none;
    margin-top: 20px;
}

#playlist-music-list li {
    background-color: #333;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.night {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at center, #090a0f, #0b1126);
    overflow: hidden;
    z-index: -1;
}
