*{
    margin: 0;
    color: white;
}

body{
    background-color: #282828;
}

.nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 50px;
    padding: 10px 14px;
    background-color: #3c06a7;
    transition: var(--trans-05);
    z-index: 100;
}


/* Settings of icons size*/
.image-text img{
    border-radius: 50%;
    width: 50px;
}
.perfil, .settings-icon {
    display: flex;
    justify-content: center;
}
.perfil i, .settings-icon i {
    font-size: 32px;
    margin-right: 8px;
}


/*Setting padding of side bar's nav*/
.perfil{
    padding-bottom: 39vh;
}
.settings-icon{
    padding-top: 39vh;
}